/hw1/firmware/hw1.X/build/
/hw1/firmware/hw1.X/dist/
/hw2/firmware/hw2.X/build/
/hw2/firmware/hw2.X/dist/
/hw3/firmware/hw3.X/build/
/hw3/firmware/hw3.X/dist/
/hw5/firmware/hw5.X/build/
/hw5/firmware/hw5.X/dist/
/hw6/firmware/hw6.X/build/
/hw6/firmware/hw6.X/dist/